.timer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.timer button {
    padding: 0.5rem 1rem;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
